<h1>A new puppy:</h1>

<form method="post" action="/puppy">
  <!-- <label for="user_name">Name:</label> -->
  <p>Name: <input type="text" name="name" /></p>
  <p>Breed: <input type="text" name="breed" /></p>
  <p>Age: <input type="text" name="age" /></p>
  <input type="submit" value="submit"/>
</form>
