<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create a New Puppy</title>
  </head>
  <body>

    <form class="create_puppy_form" action="/" method="post">
      <label for="">Enter Puppy Name: <input name="name"></label>
      <label for="">Enter Puppy Breed: <input name="breed"></label>
      <label for="">Enter Puppy Age: <input name="age"></label>
      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
