<!DOCTYPE html>
<html>
  <head>
    <title>show puppy</title>
  </head>

  <body>
    <h1>Check out this Puppy!</h1>
    <ul>
      <li>Puppy Name: <%= @dog['name'] %> </li>
      <li>Puppy Breed: <%= @dog['breed'] %> </li>
      <li>Puppy Age: <%= @dog['age'] %> </li>
    </ul>
  </body>
</html>
