<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppy Adption Site</title>
 </head>
 <body>
   <h1> This is puppy <%= @puppy.name %> </h1>
      <p>Puppy Name: <%= @puppy.name %>  </p>
      <p>Puppy Breed: <%= @puppy.breed %>  </p>
      <p>Puppy Age: <%= @puppy.age %>  </p>
 </body>
</html>
