<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>Puppy Name:</p>
    <p><%= @name %></p>
    <p>Puppy Age:</p>
    <p><%= @age %></p>
    <p>Puppy Breed:</p>
    <p><%= @breed %></p>
  </body>
</html>
